Markdown
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-macros-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-section-index
mkdocs-meta-descriptions-plugin
mkdocs-glightbox
mkdocs-open-in-new-tab
mkdocs-print-site-plugin
mike
Pillow > 10.1.0  # required by mkdocs-glightbox
